# Database
DATABASE_URL=""

# Server
PORT=
NODE_ENV=
BASE_URL=http://localhost:3000

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
CLIENT_URL = ""

# user admin
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
ADMIN_FULLNAME=
ADMIN_PHONE=

# Email (for entrance exam results)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
COURSE_REGISTRATION_URL=http://localhost:5173

# VNPay Sandbox
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/result
VNP_IPN_URL=http://localhost:8081/api/payment/ipn